<h1>Listing restuarants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restuarants.each do |restuarant| %>
  <tr>
        <td><%= restuarant.name %></td>
        <% if current_user && restuarant.user == current_user %> 
        <td><%= link_to 'Show', restuarant %></td>
        <td><%= link_to 'Edit', edit_restuarant_path(restuarant) %></td>
        <td><%= link_to 'Destroy', restuarant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %></tr> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restuarant', new_restuarant_path %>
